# C compiler and IDE artifact files
*.log
*.a
*.o
*.bak
*~
*.dep
*.orig
*.hex
*.map
*.bin
*.out
*.sim
*.dbgdt
*.dni
*.jlink
*.wsdt
*.config
*.pbd
*.pbi
*.ewd
*.ewt
*.d
*.r90
*.r90
*.s90
*.d90
*.a90
*.patch
*.cout
*.lst
*.wspos
*.browse
*.ewsample
*.asm
*.ind
*.elf
*.eep
*.emSession
*.depend
*.layout
*.dmp
tags
test-results.xml
.vs/
*.componentinfo.xml
Backup*

# CMake artifact files and folders
CMakeLists.txt.user
/build/
/_build/
